@import '../../styles/variables';

.wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    row-gap: 20px;
    padding: 20px;
    min-height: 100vh;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
    grid-template-rows: 1fr;
    gap: 20px;
}
